* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace, "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/imgs/bgOso.png);
}
legend {
  font-size: xx-large;
  color: antiquewhite;
  text-align: center;
  margin: 30px 0 40px 0;
}
.formulario {
  width: 400px;
  height: 400px;
  padding-left: 10px;
  border: 2px solid rgba(90, 121, 205, 0.247);
  border-radius: 10px;
  backdrop-filter: blur(40px);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
input {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
}
input[type="text"] {
  padding: 0 15px 0 15px;
  background-image: url(/imgs/icons/mail-outline.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 20px;
  filter: invert(100%);
}
input[type="password"] {
  padding: 0 15px 0 15px;
  background-image: url(/imgs/icons/key-outline.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 20px;
  filter: invert(100%);
}
.pass path {
  fill: #ffffff;
}

input::placeholder {
  color: black;
}

.container-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.button-env {
  font-weight: bolder;
  color: black;
  border-color: white;
  background-color: #ffffff;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 20px;
}
a {
  text-decoration: none;
}

.icongoogle {
  width: 30px;
  filter: invert(100%);
}
.iconface {
  width: 30px;
  filter: invert(100%);
}
